<launch>
  <arg name="pi" default="3.141592653589793238462643" />
  <arg name="pi/2" default="$(eval 0.5* arg('pi'))" />
  <arg name="z_value" default="0.15" />



  <node pkg="tf" type="static_transform_publisher" name="center_broadcaster" args="0.006433223208916055 0.013499697412765127 0.5597259551960686 0.011440347539569094 0.018114741062589174 0.0003529102281108608 camera center 10" />
  <node pkg="tf" type="static_transform_publisher" name="sensor_broadcaster" args="0 0 0.085 0 0 -$(arg pi/2) center sensor 10" />
  <node pkg="tf" type="static_transform_publisher" name="camera_broadcaster" args="0 0 0 0 $(arg pi) 0 world camera 10" />


  <node pkg="tf" type="static_transform_publisher" name="omni1_broadcaster" args="0.50 0.30 -0.250 0 0 0 center omni1 10" />
  <node pkg="tf" type="static_transform_publisher" name="omni0_broadcaster" args="0.1 0.1 $(arg z_value) $(arg pi/2) 0 $(arg pi/2) center omni0 10" />
  <node pkg="tf" type="static_transform_publisher" name="omni2_broadcaster" args="-0.1 0.1 $(arg z_value) -1.57 -$(arg pi) 0 center omni2 10" /> 
  <node pkg="tf" type="static_transform_publisher" name="omni3_broadcaster" args="-0.1 -0.1 $(arg z_value) 3.14 $(arg pi) 0 center omni3 10" />
  <node pkg="tf" type="static_transform_publisher" name="omni4_broadcaster" args="0.1 -0.1 $(arg z_value) -$(arg pi/2) 0 0 center omni4 10" />
  <node pkg="tf" type="static_transform_publisher" name="object_broadcaster" args="0 0 0 0 0 $(arg pi) marker_id24 object 10" />

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find omniSystem)/rviz/config_file.rviz" />
  <node type="rqt_console" name="console" pkg="rqt_console" />

  <node type="rvizStuff" name="rvizStuff" pkg="omniSystem" />
  <include file="$(find omniSystem)/launch/camera_tracking.launch"/>

  <node pkg="topic_tools" type="relay" name="bandwidth_fixer" args="/camera/image_rect /camera/image_rect_fast" />
  <node pkg="topic_tools" type="throttle" name="record_friendly_camera" args="messages /camera/image_rect_fast 2 /camera/image_rect_slow " />





</launch>