<launch>
   
  <node pkg="tf" type="static_transform_publisher" name="center_broadcaster" args="0 0 0.36 0 0 0 camera center 10" />
  
  <node pkg="tf" type="static_transform_publisher" name="camera_broadcaster" args="0 0 0 0 3.14 0 world camera 10" />

  <node pkg="tf" type="static_transform_publisher" name="omni0_broadcaster" args="0.10 0.10 0.150 -1.57 -1.57 0 center omni0 10" />

  <node pkg="tf" type="static_transform_publisher" name="omni1_broadcaster" args="0.50 0.30 -0.25 3.14 -3.14 0 center omni1 10" />

  <node pkg="tf" type="static_transform_publisher" name="omni2_broadcaster" args="-0.10 0.10 0.15 3.14 -3.14 0 center omni2 10" />

  <node pkg="tf" type="static_transform_publisher" name="omni3_broadcaster" args="-0.10 -0.10 0.15 0 -3.14 0 center omni3 10" />

  <node pkg="tf" type="static_transform_publisher" name="omni4_broadcaster" args="0.1 -0.10 0.15 0 -3.14 0 center omni4 10" />

  <node pkg="tf" type="static_transform_publisher" name="object_broadcaster" args="0 0 0 0 0 1.67 marker_id24 object 10" />

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find omniSystem)/rviz/config_file.rviz" />
  <node type="rqt_console" name="console" pkg="rqt_console" />

  <node type="rvizStuff" name="rvizStuff" pkg="omniSystem" />
  <include file="$(find omniSystem)/launch/hardware.launch"/>

<arg name="markerId"        default="26"/>
<arg name="markerSize"      default="0.092"/>    <!-- in m -->
<arg name="eye"             default="left"/>
<arg name="marker_frame"    default="marker_id24"/>
<arg name="ref_frame"       default=""/>  <!-- leave empty and the pose will be published wrt param parent_name -->
<arg name="corner_refinement" default="LINES" /> <!-- NONE, HARRIS, LINES, SUBPIX -->


<node pkg="aruco_ros" type="single" name="aruco_single">
    <remap from="/camera_info" to="/camera/camera_info" />
    <remap from="/image" to="/camera/image_rect_fast" />
    <remap from="/aruco_single/transform" to="/simple_aruco_detector/transforms"/>
    <param name="image_is_rectified" value="True"/>
    <param name="marker_size"        value="$(arg markerSize)"/>
    <param name="marker_id"          value="$(arg markerId)"/>
    <param name="reference_frame"    value="$(arg ref_frame)"/>   <!-- frame in which the marker pose will be refered -->
    <param name="camera_frame"       value="camera"/>
    <param name="marker_frame"       value="$(arg marker_frame)" />
    <param name="corner_refinement"  value="$(arg corner_refinement)" />
</node>
<node pkg="rostopic" type="rostopic" name="arbitrary_name" args="echo /simple_aruco_detector/transforms " output="log"/>
<node pkg="topic_tools" type="relay" name="bandwidth_fixer" args="/camera/image_rect /camera/image_rect_fast" />

  <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="traj_true" output="log">
    <param name="target_frame_name" type="string" value="/center" />
    <param name="source_frame_name" type="string" value="/object" />
    <param name="trajectory_update_rate" type="double" value="5" />
    <param name="trajectory_publish_rate" type="double" value="5" />
    <remap from="trajectory" to="/trajectory/path" />
  </node>
  <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="traj_true_slow" output="log">
    <param name="target_frame_name" type="string" value="/center" />
    <param name="source_frame_name" type="string" value="/object" />
    <param name="trajectory_update_rate" type="double" value="0.05" />
    <param name="trajectory_publish_rate" type="double" value="1" />
    <remap from="trajectory" to="/trajectory/path_slow" />
  </node>

  <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="traj_goal" output="log">
    <param name="target_frame_name" type="string" value="/center" />
    <param name="source_frame_name" type="string" value="/goal" />
    <param name="trajectory_update_rate" type="double" value="1" />
    <param name="trajectory_publish_rate" type="double" value="1" />
    <remap from="trajectory" to="/trajectory/goal" />
  </node>

</launch>