<launch>
  <arg name="pi" default="3.141592653589793238462643" />
  <arg name="pi/2" default="$(eval 0.5* arg('pi'))" />



  <node pkg="tf" type="static_transform_publisher" name="center_broadcaster" args="0 0 0.52 0 0 0 camera center 10" />

  <node pkg="tf" type="static_transform_publisher" name="sensor_broadcaster" args="0 0 0.085 0 0 -$(arg pi/2) center sensor 10" />

  <node pkg="tf" type="static_transform_publisher" name="camera_broadcaster" args="0 0 0 0 $(arg pi) 0 world camera 10" />

  <node pkg="tf" type="static_transform_publisher" name="omni1_broadcaster" args="0.50 0.30 -0.250 0 0 0 center omni1 10" />

  <node pkg="tf" type="static_transform_publisher" name="omni0_broadcaster" args="0.089 0.102 0.15 $(arg pi/2) 0 $(arg pi/2) center omni0 10" />

 <node pkg="tf" type="static_transform_publisher" name="omni2_broadcaster" args="-0.111 0.1 0.15 -1.57 -$(arg pi) 0 center omni2 10" />


  <node pkg="tf" type="static_transform_publisher" name="omni3_broadcaster" args="-0.111 -0.104 0.15 3.14 $(arg pi) 0 center omni3 10" />

  <node pkg="tf" type="static_transform_publisher" name="omni4_broadcaster" args="0.091 -0.102 0.15 -$(arg pi/2) 0 0 center omni4 10" />

  <node pkg="tf" type="static_transform_publisher" name="object_broadcaster" args="0 0 0 0 0 $(arg pi/2) marker_id24 object 10" />

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find omniSystem)/rviz/config_file.rviz" />
  <node type="rqt_console" name="console" pkg="rqt_console" />

  <node type="rvizStuff" name="rvizStuff" pkg="omniSystem" />
  <!--<include file="$(find omniSystem)/launch/hardware.launch"/>-->

  <node pkg="rostopic" type="rostopic" name="arbitrary_name" args="echo /simple_aruco_detector/transforms " output="log"/>
  <node pkg="topic_tools" type="relay" name="bandwidth_fixer" args="/camera/image_rect /camera/image_rect_fast" />
  <node pkg="topic_tools" type="throttle" name="record_friendly_camera" args="messages /camera/image_rect_fast 2 /camera/image_rect_slow " />

  <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="traj_true" output="log">
    <param name="target_frame_name" type="string" value="center" />
    <param name="source_frame_name" type="string" value="object" />
    <param name="trajectory_update_rate" type="double" value="5" />
    <param name="trajectory_publish_rate" type="double" value="5" />
    <remap from="trajectory" to="/trajectory/path" />
  </node>
  <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="traj_true_slow" output="log">
    <param name="target_frame_name" type="string" value="center" />
    <param name="source_frame_name" type="string" value="object" />
    <param name="trajectory_update_rate" type="double" value="0.05" />
    <param name="trajectory_publish_rate" type="double" value="1" />
    <remap from="trajectory" to="/trajectory/path_slow" />
  </node>

  <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="traj_goal" output="log">
    <param name="target_frame_name" type="string" value="center" />
    <param name="source_frame_name" type="string" value="goal" />
    <param name="trajectory_update_rate" type="double" value="1" />
    <param name="trajectory_publish_rate" type="double" value="1" />
    <remap from="trajectory" to="/trajectory/goal" />
  </node>

    <arg name="camera" default="/camera/image_mono" />
    <arg name="camera_info" default="/camera/camera_info" />
    <arg name="tf_prefix" default="marker_id" />
    <arg name="show_detections" default="true" />
    <arg name="marker_size" default="0.092" doc="length of the physical marker's side in meters"/>
    <arg name="aruco_dictionary" default="DICT_5X5_100" />
    <node pkg="simple_aruco_detector" type="node" name="simple_aruco_detector" output="screen">
        <param name="camera" type="string" value="$(arg camera)"/>
        <param name="camera_info" type="string" value="$(arg camera_info)"/>
        <param name="tf_prefix" type="string" value="$(arg tf_prefix)"/>
        <param name="show_detections" type="bool" value="$(arg show_detections)"/>
        <param name="marker_size" type="double" value="$(arg marker_size)"/>
        <param name="aruco_dictionary" type="string" value="$(arg aruco_dictionary)"/>
        <param name="enable_blur" type="bool" value="true"/>
        <param name="blur_window_size" type="int" value="7"/>
        <param name="aruco_adaptiveThreshWinSizeStep" type="int" value="1"/>
    </node>

</launch>